.body {
    justify-content: center;
}


.contact-wrapper {
    display: flex;
    flex-wrap: wrap; 
    flex: 1 1 300px;
    max-height: 60rem;
   /*  box-shadow:  -1px 3px 11px 8px #EAF4F4; */
   
}

nav {
    padding-top: 4rem;
}

.contact-wrapper > * {
    flex-basis: 1;
    flex-grow: 1;
    min-width: 25rem;  
}

.info-box,
.form-box {
    width: 50%;
}

.info-box {
    background-color: #CCE3DE;  
    width: 300px;
    padding: 48px;
    text-align: end; 
}

.person {
    text-align: center;
    font-family: "Blackout Midnight";
    font-size: 4rem;
}

.contact-details {
    border: 1px solid gray;
     box-shadow: 3rem #333333;
}

p {
    font-size: 1.2rem;
    padding-top: 5rem;
}

.brand-name {
    font-family: "Blackout Midnight";
    font-size: 2.4rem;
    color: #6B9080;
}

.form-wrapper {
   padding-top: 16px;
   
}

.form-wrapper>* { /* ||?format of selector */
    font-family:'circular_stdmedium';
    font-weight: 300;
    text-transform: uppercase;
    font-size: 10px;
    line-height: 2;
}

.form-box {
    background-color: #A4C3B2;
    width: 300px;
    padding: 48px;
    text-align: start;
    }

input,
textarea {
    width: 100%;
    border: none;
    border-bottom: 1px solid black;
    padding-top: 0.5rem;
    padding-left: 0;
    font-weight: 300;
    font-family: "Circular", sans-serif;
    font-size: 14px;
    overflow: hidden;
    text-align: left;
    background-color: transparent;
}

input:focus-visible {
    outline: 1px solid #cce3de75;
    border-bottom: #6B9080;
    background-color: #cce3de75;
}

textarea:focus-visible {
    outline: 1px solid #cce3de75;
    border-bottom: #6B9080;
    background-color: #cce3de75;
}

label:hover input,
input:hover {
     background-color: #cce3de75;
} 

textarea:hover {
    background-color: #cce3de75;
}

input [type="checkbox"] {
    display: inline-flex;
}

*:focus {
    outline-color: white;
}

textarea {
    height: 100px;
    resize: none;
    border-bottom: 1px solid black;
}

.field  {
    padding-top: 1rem
}

.radio-checkbox {
    padding: 1rem 0;
}

fieldset {
    border: none;
    padding-bottom: 2rem;
}

/* .offer-checkbox {
    border-bottom: 1px solid#333333;
} */

.offer-checkbox label,
.species-radio label {
    display: flex;
    align-items: flex-end;
    padding: 0.25rem 
  }

input[type="checkbox"],
input[type="radio"] {
  background-color: var(--primary-color);
  border: 1px solid #333333;
  border-radius: 5px;
  display: inline-flex;
  height: 1.5em;
  justify-content: center;
  margin: 0 4px 0 0;
  width: 2rem;
  align-items: center;
  accent-color: #587669;
}


.species-ledgend {
    font-family: Blackout Midnight;
    font-size: 1.5rem;
}

input::placeholder,
textarea::placeholder {
    font-family: "circular_stdbook";
    font-size: 0.8rem;
}

.submit-button {
    line-height: 48px;
    padding: 0 10px;
    text-align: center;
    transition-property: color, background-color;
    transition-duration: 200ms;
    transition-timing-function: ease-in;
    text-decoration: none;
    width: 100%;
    text-transform: uppercase;
    font-weight: bold;
    color: #F6FFF8;
    background-color:#6B9080;
    border: none;
    font-family: "circular_stdbook";
}




