html{
    font-size: 14px;

    /* || SIZE setting page
    ||| Double check values and decide breakpoint (see Media Queries) */
    max-width: 1140px;
    margin:  0 auto;
    background-color: black;
    font-family: 'Blackout', sans-serif;
}

body {
    background-color: #F6FFF8;
    height: 100%; /* ||? Why?*/
    margin: 0;
}

.nav-container{
display: flex;
flex-direction: column;
}


.nav {
    padding: 16px;
    display: flex;
    justify-content: center;
}

.nav.nav-header .nav-item {
    padding: 8px 24px;
    border-left: 1px solid #6B9080;
    border-right: 1px solid #6B9080;
}


a:hover {
    /* color:#6B9080; */
    text-shadow: 0 0 5px #6B9080;
}

a {
    color: #3b3f3f;
    text-decoration: none;
}

/* CURRENT PAGE INDICATOR*/
a:link, a:visited {
    /* color: blue; */
  }
  
  body.portfolio a.href-portfolio:link,
  body.about a.href-about:link,
  body.contact a.href-contact:link,
  body.main a.href-body:link {
    text-shadow: 0 0 5px palevioletred; 
  }


/* || THE NOSE*/
/* 
.nose {
    background-color: #3b3f3f;
    padding: 48px;
    margin:30%;
}


.menu.menu-nose {
    display: grid;
    grid-template: 1fr 1fr/ 2fr;
    grid-template-areas: ;
}

.menu.menu-nose .menu-item {
color:beige;
padding: 8px;
}

.nose:hover{
    width: 150px;
    height: 150px;
}

*/



