* {
  box-sizing: border-box;
}

html {
  background-color: var(--c-off-black);
  height: 100vh;
}

body {
  background-color: var(--c-off-white);
  display: flex;
  flex-direction: column;
  height: 100%;
  margin: 0 auto;
  max-width: 1140px;
}

header {
  background-color: var(--c-off-white);
}

h5 {
    padding-bottom: var(--padding-primary);
    padding-left: var(--padding-teritiary);
}

.main-content {
  display: flex;
  background-color: var(--c-grey-dark);
  flex: 1 0 auto;
}

img {
  background-color: var(--c-green-dark);
}

.gallery-container {
  display: flex;
  flex-wrap: wrap;
  padding: 0 4 8;
}

.gallery-column {
  -ms-flex: 25%; /* IE10 */
  flex: 25%;
  max-width: 25%;
  padding: 0 4px;
}

.gallery-column img {
  margin-top: 8px;
  vertical-align: middle;
  width: 100%;
}

footer {
    background-color: var(--c-off-black);
    color:  var(--c-green-dark);
    padding: var(--padding-secondary);
  }

@media screen and (max-width: 800px) {
  .gallery-column {
    -ms-flex: 50%;
    flex: 50%;
    max-width: 50%;
  }
}

@media screen and (max-width: 600px) {
  .gallery-column {
    -ms-flex: 100%;
    flex: 100%;
    max-width: 100%;
  }
}

footer {
 
  }