html{
    height: 100vh;
    font-size: 14px;

    /* || SIZE setting page
    ||| Double check values and decide breakpoint (see Media Queries) */
    max-width: 1140px;
    margin:  0 auto;
    background-color: black;
    font-family: 'Blackout', sans-serif;

}

body {
    background-color: #F6FFF8;
    height: 100%; /* ||? Why?*/
    margin: 0;
   /*  height: 100vh; ||| Mabye on main page?*/
}

.header{
    background-color: beige;
    border: 2px solid black;
    grid-area: header;
}

/* .main{ 
    background-color: antiquewhite;
     border: 2px solid black;
    grid-area: main;
} */

.footer{
    background-color: azure;
    grid-area: footer;

}


.grid-container{
   
    min-height: 100%;
    grid-template-rows: 48px 1fr 48px;
    grid-template-columns: 1fr;
    grid-template-areas: 
      "header"
      "main"
      "footer";

      
}






















header{
display: flex;
flex-direction: column;
}


h1{
    color:#6B9080;
    text-align: center;
    padding:48px;
    border: 2px solid #CCE3DE;
    margin: 0%;
    font-size: 4rem;
}

.menu {
    padding: 16px;
    display: flex;
    justify-content: center;
}

.menu.menu-header .menu-item {
    padding: 8px 24px;
    border-left: 1px solid #6B9080;
    border-right: 1px solid #6B9080;
}

/* || THE NOSE*/

.nose {
    background-color: #3b3f3f;
    padding: 48px;
    margin:30%;
}


.menu.menu-nose {
    display: grid;
    grid-template: 1fr 1fr/ 2fr;
    grid-template-areas: ;
}

.menu.menu-nose .menu-item {
color:beige;
padding: 8px;
}

.nose:hover{
    width: 150px;
    height: 150px;
}

a{
    color: #3b3f3f;
    text-decoration: none;
}

a:hover{
    color:#6B9080;
}




.galler
.gallery{
    display:flex;
}

/* .frame{
    background-color:bisque;
    border: p1 solid black;
    width: 20%;
    height: same-as-width;
    flex-direction: row;
} */


/* PORTFOLIO*/

/*
.body{
    display: grid; 
    grid-template: 1fr 1fr / (repeat(3 1fr)
}
*/





/* || MEDIA QUERIEs*/

/*
||| Choose BREAKPIONT:

Medium devices (landscape tablets, 768px and up) 
@media only screen and (min-width: 768px) {...} 

Large devices (laptops/desktops, 992px and up) 
@media only screen and (min-width: 992px) {...} 
*/


/* NOTES to self*/

/*
SETS IMAGE WITHIN PARENT,
which will then work like a frame
.image {
    max-width: 100%;
}
 */